*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Navbar{
    background-color: #EFE4D7;
    padding: 18px 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.Navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar h1{
    color: #E1958F;
    font-size: 30px;
    cursor: pointer;
}

.Navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 25px;
    transition: 0.3s;
}

.Navbar a:hover{
    color: #a57c7c;
}

.Navbar button{
    margin-left: 30px;
    padding: 10px 22px;
    background-color: #E1958F;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.Navbar button:hover{
    background-color: #a57c7c;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 50%;
}

.logo h1{
    font-size: 30px;
    color: #B28D79;
    font-weight: bold;
    margin: 0;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px 80px;
    background: linear-gradient(to right,#F8F3EE,#FFFDFB);
    gap: 70px;
}

.hero-text{
    flex: 1;
}

.hero-text h2{
    font-size: 70px;
    color: #6D4C41;
    line-height: 1.1;
    margin-bottom: 15px;
    font-family: Georgia, serif;
}

.hero-line{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #C68B8B;
    margin-bottom: 30px;
}

.hero-line span{
    width: 80px;
    height: 2px;
    background-color: #DDB6B6;
}

.hero-text p{
    font-size: 20px;
    color: #666;
    line-height: 1.9;
    max-width: 550px;
    margin-bottom: 35px;
}

.hero-text button{
    padding: 16px 38px;
    background-color: #E1958F;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.hero-text button:hover{
    background-color: #A57C7C;
    transform: translateY(-4px);
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 100%;
    max-width: 650px;
    border-radius: 20px;
}

.about{
    background-color: #EFE4D7;
    padding: 80px;
    text-align: center;
}

.about-content{
    max-width: 800px;
    margin: auto;
}

.about-content h2{
    font-size: 40px;
    color: #B28D79;
    margin-bottom: 25px;
}

.about-content p{
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

.about-content h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #BB7B74;
    margin: 12px auto;
    border-radius: 10px;
}

.services{
    padding: 80px;
    background: linear-gradient(to right,#F8F3EE,#FFFDFB);
    text-align: center;
}

.services h2{
    font-size: 40px;
    color: #B28D79;
    margin-bottom: 50px;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color: white;
    width: 300px;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: #BB7B74;
}

.card p{
    color: #555;
    line-height: 1.7;
}

.contact{
    background-color: #EFE4D7;
    padding: 80px;
    text-align: center;
}

.contact h2{
    font-size: 40px;
    color: #B28D79;
    margin-bottom: 40px;
}

.contact form{
    width: 500px;
    margin: auto;
}

.contact input,
.contact textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.contact textarea{
    height: 140px;
    resize: none;
}

.contact button{
    background-color: #E1958F;
    color: white;
    padding: 14px 35px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}

.contact button:hover{
    background-color: #a57c7c;
    box-shadow: 0 8px 20px rgba(178, 141, 121, 0.4);
    transform: translateY(-2px);
}

.contact button:active{
    transform: scale(0.96);
    box-shadow: 0 0 25px rgba(178, 141, 121, 0.8),
                0 0 50px rgba(178, 141, 121, 0.5);
}

.contact button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease, opacity 0.5s;
    opacity: 0;
}

.contact button:active::after{
    width: 200px;
    height: 200px;
    opacity: 0;
}

.contact-info{
    margin-top: 40px;
}

.contact-info p{
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.footer{
   background: linear-gradient(to right,#F8F3EE,#FFFDFB);
    color: black;
    text-align: center;
    padding: 30px 20px;

}

.footer h3{
    font-size: 28px;
    margin-bottom: 10px;
    color: #B28D79;
}

.footer p{
    font-size: 16px;
    margin: 8px 0;
    color: black;
}